@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button_area {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  width: clamp(250px, 50%, 500px);
}
.a {
  padding: 25px;
  margin: 1em 2.4em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #e0e0e0;
  background: #050A30;
  border-radius: 16px;
  border: #161d19 groove;
  transition: transform 0.5s ease-in-out 0.125s, background-color 0.5s ease-in-out 0.125s, color 0.5s ease-in-out 0.125s;
}

.a:hover {
  transform: translateY(-10px) translateX(5px);
  background-color: #1863D6;
  color: #e0e0e0;
}
